<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body style="background-color:rgb(255, 255, 255)">
    <nav id="navbar">
      <div class="navbar--container">
        <a class="personal--logo" href="/">Home</a>
        <ul class="navbar--list">
          <li>
            <a class="nav--link__anchor" href="\encode">Encode</a>
          </li>
          <li>
            <a class="nav--link__anchor" href="\decode">Decode</a>
          </li>
        </ul>
      </div>
    </nav>
      <div>{% block content %}{% endblock %}</div>
  </body>
</html>