{% extends "base.html" %}
{% block content %}
<h1>Decode Image</h1>
<p>Upload the encoded image and the encryption key to decipher the message.</p>
<form enctype="multipart/form-data" method="post" class="main">
    <label for="key">Encryption key:</label>
    <input type="number" name="key" min="1000" max="9999">
    <br>
    <input type="file" name="encoded_image">
    <br>
    <input type="submit" value="DECODE IMAGE">
</form>
<div class="main">
    {% if image_submited == True %}
    <img src="{{ url_for('static', filename='resources/decoded_image.png') }}" width="500">
    {% endif %}
</div>
{% endblock %}